{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}
        org.clojure/clojurescript {:mvn/version "1.10.879"}
        io.projectreactor/reactor-core {:mvn/version "3.4.9"}
        ;;com.google.javascript/closure-compiler-unshaded {:mvn/version "v20210808"}
        }
 
 :aliases
 {:cljs-build {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.4"}}}
  :test {:extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "8c3f22363d63715de4087b038d79ae0de36a3263"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
